body {
	text-align: center;
	padding: 10vh 0;
	color: #0020c4;
	background-color: #FF5733;
	font-size: 50px;
	font-family: 'PT Sans', sans-serif;
}

 .stopwatch {
 	margin: 5vh 0;
 }

 .button {
	margin: 2vw;
	color: white;
 	background-color: #0020c4;
 	padding: 2vh 2vw;
 	border-radius: 5px;
 }